<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <h1>Groupie Tracker</h1>
        <p>Explorez les données de vos artistes favoris</p>
    </header>

    <div class="container">
        <div class="grid">
            {{range .}}
            <div class="card">
                <img src="{{.Image}}" alt="{{.Name}}">
                
                <div>
                    <span class="creation-date">Créé en {{.CreationDate}}</span>
                </div>

                <h2>{{.Name}}</h2>

                <div class="album-info">
                    Premier album : {{.FirstAlbum}}
                </div>

                <a href="/artist?id={{.ID}}" class="btn-concerts">VOIR LES CONCERTS</a>
            </div>
            {{end}}
        </div>
    </div>

</body>
</html>